<launch>
    <!-- USB Camera Node -->
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="log">
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="1280" />
        <param name="image_height" value="720" />
        <param name="pixel_format" value="mjpeg" /> 
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
        <param name="framerate" value="30" />
    </node>

    <!-- Color Target Detector Node -->
    <node name="image_processor" pkg="color_target_tracker" type="color_detector.py" output="log" />

    <!-- Motion Commander Node -->
    <node name="motion_planner" pkg="color_target_tracker" type="motion_commander_pitch.py" output="screen" />

    <!-- Rosserial Node for Actuator Arduino Communication -->
    <node name="actuator_arduino" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="57600" />
    </node>
</launch>
